.codearea
{
  display: none;
  background: white;
  color: #000000;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none;
  border: black;
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	padding: 8px;
}

pre
{
  margin: 0em;
}